body{
    background-color: #87B5B5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: normal normal normal 1rem/1.6 Nunito Sans, Helvetica, Arial, sans-serif;
}

h4 {
    margin: 0px;
    background-color: #4AA3A3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid black;
    padding: 5px;
}
.editor{
    display:flow-root;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width:50%;
    margin: 0 auto;
    
}

#editor{
    margin: 0px;
    width: 100%;
    height: 160px;
    overflow: hidden; /*ya esta el scroll en el textarea asi que 2 no sirve*/
    overflow-x: none;
    
}
.previsual {
border: 1px solid black;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
margin: 20px auto;
width:65%;
background-color:#C0D8D8;
}

.previsual > *:not(h4) {
    padding-left: 1.5em;
  }



.textarea{
    width: 99%;
    height:100%;
    border:0px;
    background-color:#C0D8D8;
    overflow-y:scroll; /*para que se vea aunque no haya pasado el limite*/
    outline: none; 
    resize: none; /*deshabilita el dimensionado */
}

table {
    border-collapse: collapse;
  }

td,th {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
  }

  code{
    background: white;
    font-size: 0.875rem;
    font-weight: bold;
  }

h1,h2 {
    border-bottom: 1px solid black;
}

img {
    display: block;
    max-width: 80%;
    margin: 2rem auto;
}

blockquote {
    color: rgba(0, 0, 0, .5);
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-left: 5px solid rgba(0, 0, 0, .075);
  }

  pre {
    display: block;
    overflow: auto;
    background: white;
    padding: 5px;
    margin-right: 15px;
    line-height: 1.2;
  }
